.grid-center {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-content: center;
  justify-items: center;
}

.grid-center .arrow-button {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 95%;
  justify-items: end;
  align-items: flex-start;
  padding-top: 1em;
  border: none;
  background-color: transparent;
}

.back-arrow-icon {
  color: #FDA769;
  position: absolute;
  font-size: 2em;
  font-style: inherit;
  margin-left: 0.3em;
  cursor: pointer;
  transition: 0.3s;
  z-index: 100;
}

.back-arrow-icon:hover {
  color: #E76801;
}

.wiggly-logo {
  position: relative;
  width: 60%;
  margin-top: 5.5em;
  margin-bottom:3em
}

.forgot-password-banner {
  position: relative;
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 45px;
  word-wrap: break-word;
  width: 90%;
}

.forgot-password-input {
  position: relative;
  position: relative;
  width: 80%;
  border: 0.5px #FDA769 solid;
  background: white;
  border-radius: 8px;
  height: 40%;
  padding-left: 0.8em;
  margin-top: 5em;
}

.forgot-password-button {
  background: #E76801;
  border-radius: 15px;
  margin-top: 2.5em;
  height: 55%;
  width: 80%;
  font-size: 25px;
  cursor: pointer;
  z-index: 100;
  font-family: serif;
  line-height: 20px;
  word-wrap: break-word;
  color: white;
}