<div class="grid-center">
  <button class="arrow-button" (click)="switchToSignIn()">
    <mat-icon class="back-arrow-icon" matSuffix >arrow_back</mat-icon>
  </button>
</div>
<div class="grid-center">
  <img class="wiggly-logo" src="../../../../assets/images/wiggly.png"/>
  <div class="forgot-password-banner">
    Ingresá tu email para resetear tu contraseña
  </div>
  <input required type="email" email class="forgot-password-input" [(ngModel)]="email" placeholder="Email" (onBlur)="this.touched = true"> 
  <div class="touched-error" *ngIf="this.touched">
    El email ingresado no corresponde a ningun usuario registrado
  </div>
  <button class="forgot-password-button" [disabled]="email === '' " [style.background-color]="email === '' ? '#787878' : '#E76801'"
    mat-raised-button (click)="forgotPassword()"> Resetear contraseña
  </button>
</div>