@media (min-width: 1920px) {
  .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);
  
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: white;
    transition: all 0.4s ease-in-out;
  }
  
  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }
  
  .toggle input:checked + .slider {
    background-color: #FDA769;
  }
  
  .toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }
  
  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }
  
  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #E76801;
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  
  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }
  
  .toggle input:checked ~ .labels::after {
    opacity: 0;
  }
  
  .toggle input:checked ~ .labels::before {
    opacity: 1;
  }
  
  .image-thumbnails {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .image-thumbnail {
    margin: 1em;
    text-align: center;
    width: 15%;
    height: 15%;
    position: relative;
  }
  
  .image-thumbnail img {
    border: 1px solid #ccc;
    border-radius: 1em;
    width: 100%;
    height: 100%;
  }
  
  .image-thumbnail p {
    margin-top: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .image-thumbnail button {    
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-thumbnail button:hover {
    background-color: darkred; /* darken on hover for effect */
  }
  
  input[type="file"] {
    display: none;
  }
  
  .custom-file-label {
    margin-top: 1.5em;
    background: #FDA769;
    color: white;
    border: none;
    font-family: Manrope;
    font-size: 16px;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: .3s background-color;
  }
  
  .custom-file-label:hover {
    background: #E76801;
  }
  
  .step-button {
    margin: 0 1em 1em 0;
    background: none;
    color: #FDA769;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .step-button-siguiente {
    position: absolute;
    bottom: -5em;
  }
  
  .step-button:hover {
    color: #E76801;
    font-size: 18px;
  }
  
  .input-formulario {
    width: 45%;
    border: 0.5px #FDA769 solid;
    color: #787878;
    background: white;
    border-radius: 8px;
    height: 100%;
    display: flex;
    padding: 1em;
    align-items: center;
    margin-bottom: 1.5em;
  }
  
  .form-step-content {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 3em 1em 0 1em;
      align-items: center;
  }
  
  .two-inputs-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; gap: 1em;
  }
  
  .radio-input-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #FDA769;
    --mdc-radio-selected-hover-icon-color: #FDA769;
    --mdc-radio-selected-icon-color: #FDA769;
    --mdc-radio-selected-pressed-icon-color: #FDA769;
    --mat-radio-ripple-color: #000;
    --mat-radio-checked-ripple-color: #FDA769;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
  }
  
  .mat-mdc-radio-button {
    --mdc-radio-disabled-selected-icon-opacity: 0.38;
    --mdc-radio-disabled-unselected-icon-opacity: 0.38;
    --mdc-radio-state-layer-size: 40px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  .mat-accent {
    --mat-option-selected-state-label-text-color: #FDA769;
  }
    
  .cambiar-step-button {
    display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  
  .cambiar-step-button-siguiente {
    position: relative; 
  }
  
  .enviar-formulario-agregar {
    margin-top: 1em;
    background: #FDA769;
    color: white;
    border: none;
    font-family: Manrope;
    font-size: 18px;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    transition: .3s background-color
  }
  
  .enviar-formulario-agregar:hover {
    background: #E76801;
  }
  
  .custom-dropzone {
    width: 100%!important;
    display: flex!important;
    align-items: center!important;
    height: 13em!important;
    background: #fff!important;
    cursor: pointer!important;
    border: 2px dashed #FDA769!important;
    border-radius: 5px!important;
    overflow-x: auto!important;
    font-size: 14px!important;
    font-weight: 400!important;
    line-height: 20px!important;
    font-family: Roboto, sans-serif!important;
    letter-spacing: .0178571429em!important;
    margin-top: 1em!important;
    color: #787878!important;
    margin-bottom: 1em;
  }
  
  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid rgb(235, 79, 79)!important;
  }
  
  .enviar-formulario-agregar:disabled{
    background-color: #dfdfdf;
    color: #b6b6b6;
    cursor: not-allowed;
  }
  
  .invalid {
    border: 1.5px solid rgb(226,27,43);
  }

  .agregar-mascota-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2em 2em 0em 2em;
  }
  
  .agregar-mascota-titulo {
    color: #FDA769;
    font-size: 40px;
    font-family: serif;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
  }

  .agregar-mascota-subtitulo {
    color: black;
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }

  .descripcion-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0em 2em 2em 2em;

    p {
      font-size: 14px;
      margin-top: 1em;
      color: #787878;
    }
  }

  .toggles-container {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
  }

  .toggle-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    div {
      margin-bottom: 4em;
    }
  }

  .dropzone-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .pregunta1-container {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 1.5em;
  }

  .pregunta2-container {
    width: 100%;display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .textarea-info {
    width: 100%;
    padding-bottom: 6em;
    resize: none;
  }

  .medical-info {
    margin-bottom: 1em;
  }

  .form-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .spinner {
    margin-right: 10px;
  }

  .error-message {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: red;
  }

  .previous-step {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .flecha-step {
    display: flex;
    font-size: 18px;
    margin-left: 0.3em;
    align-items: center
  }
}
