<div class="agregar-mascota-header">
  <p class="agregar-mascota-titulo"> Dando en Adopción </p>
  <p class="agregar-mascota-subtitulo"> Completá la información de tu mascota </p>
</div>
<form [formGroup]="addPetForm">
  <div *ngIf="currentStep === 1">
    <div class="descripcion-container">
      <p>Este formulario consta de dos partes, te pedimos que lo completes a conciencia y lo mas detallado posible</p>
    </div>
    <div class="form-step-content">
      <div class="two-inputs-row">
        <input formControlName="name" placeholder="Ingresá su nombre" class="input-formulario" [ngClass]="{'invalid': addPetForm.get('name')?.touched && addPetForm.get('name')?.invalid}">
        <input type="number" formControlName="age" placeholder="Ingresá su edad" class="input-formulario" [ngClass]="{'invalid': addPetForm.get('age')?.touched && addPetForm.get('age')?.invalid}">
      </div>
      <div class="toggles-container">
        <label class="toggle toggle-label"> 
          <div>Tipo</div>
          <input type="checkbox" formControlName="type">
          <span class="slider"></span>
          <span class="labels" data-on="Perro" data-off="Gato"></span>
        </label>
        <label class="toggle toggle-label">
          <div>Género</div>
          <input type="checkbox" formControlName="gender">
          <span class="slider"></span>
          <span class="labels" data-on="Macho" data-off="Hembra"></span>
        </label>
        <label class="toggle toggle-label">
          <div>¿Castrado?</div>
          <input type="checkbox" formControlName="isCastrated">
          <span class="slider"></span>
          <span class="labels" data-on="Si" data-off="No"></span>
        </label>
      </div>
      <div class="two-inputs-row">
        <input formControlName="size" placeholder="Ingresá su tamaño" class="input-formulario" [ngClass]="{'invalid': addPetForm.get('size')?.touched && addPetForm.get('size')?.invalid}">
        <input formControlName="location" placeholder="Ingresá dónde se encuentra" class="input-formulario" [ngClass]="{'invalid': addPetForm.get('location')?.touched && addPetForm.get('location')?.invalid}">
      </div>
      <div class="two-inputs-row">
        <input formControlName="vaccines" class="input-formulario" placeholder="¿Tiene las vacunas al dia?" [ngClass]="{'invalid': addPetForm.get('vaccines')?.touched && addPetForm.get('vaccines')?.invalid}">
        <input formControlName="deparasited" class="input-formulario" placeholder="¿Está desparasitado?" [ngClass]="{'invalid': addPetForm.get('deparasited')?.touched && addPetForm.get('deparasited')?.invalid}">
      </div>
      
      <div class="dropzone-container">
        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <div>
              <mat-icon>add_a_photo</mat-icon>
              <h2>Arrastra y suelta fotos de tu mascota</h2>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of addPetForm.get('images')?.value; let i = index" [file]="f" [removable]="true" (removed)="onRemove(f, i)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
      </div>
    </div>
    <div class="cambiar-step-button cambiar-step-button-siguiente">
      <button (click)="nextStep()" class="step-button step-button-siguiente">Siguiente
        <mat-icon class="flecha-step">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="currentStep === 2">
    <div class="form-step-content">
      <div class="pregunta1-container">
        <label style="width: 61%;">¿Sabe quedarse solo?</label>
        <label class="toggle">
          <input type="checkbox" formControlName="beOnItsOwn">
          <span class="slider"></span>
          <span class="labels" data-on="Si" data-off="No"></span>
        </label>
      </div>
      <div class="pregunta2-container">
        <label>¿Hace sus necesidades afuera?</label>
        <mat-radio-group formControlName="bathroomOutside">
          <mat-radio-button value="YES">Sí</mat-radio-button>
          <mat-radio-button value="NO">No</mat-radio-button>
          <mat-radio-button value="SOMETIMES">A veces</mat-radio-button>
        </mat-radio-group>
      </div>    
  
      <div class="radio-input-row">
        <label>¿Se lleva bien con otras mascotas?</label>
        <div>
          <mat-radio-group formControlName="goodWithPets">
            <mat-radio-button value="Si">Sí</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="No se sabe">No sé</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="radio-input-row">
        <label>¿Se lleva bien con niños?</label>
        <div>
          <mat-radio-group formControlName="goodWithChildren">
            <mat-radio-button value="Si">Sí</mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
            <mat-radio-button value="No se sabe">No sé</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <textarea formControlName="medicalInfo" class="input-formulario textarea-info medical-info" [ngClass]="{'invalid': addPetForm.get('medicalInfo')?.touched && addPetForm.get('medicalInfo')?.invalid}"
        placeholder="Agregá toda la informacion médica que sepas (enfermedades actuales o pasadas, diagnósticos, tratamientos, dietas, medicación, etc.)"></textarea>  
      <textarea formControlName="generalInfo" class="input-formulario textarea-info" [ngClass]="{'invalid': addPetForm.get('generalInfo')?.touched && addPetForm.get('generalInfo')?.invalid}"
        placeholder="Agregá información que creas relevante (personalidad, preferencias, juguete o comida favorita, etc.)"></textarea>
    </div>
    <div class="form-footer">
      <button (click)="submitForm()" class="enviar-formulario-agregar" [disabled]="!this.addPetForm.valid|| this.enviando">{{this.enviando ? 'Enviando Formulario' : 'Enviar formulario'}}</button>
      <mat-spinner class="spinner" [diameter]="20" *ngIf="this.enviando">
      </mat-spinner>

      <div *ngIf="this.addPetForm.status === 'INVALID'" class="error-message">
        * Debes completar todos los campos requeridos del formulario
      </div>
    </div>
    <button (click)="previousStep()" class="cambiar-step-button step-button previous-step">
      <mat-icon class="flecha-step">arrow_back</mat-icon>
      Volver
    </button>
  </div>
</form>