<div style="display: flex; align-items: center;flex-direction: column; margin: 2em;">
  <p style="    color: #FDA769;
  font-size: 40px;
  font-family: serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;"> Dando en Adopción </p>
  <p style="    color: black;
  font-size: 18px;
  font-family: serif;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;"> Completá la información de tu mascota </p>
  <p style="font-size: 14px;
  margin-top: 1em; color: #787878;">Este formulario consta de dos partes, te pedimos que lo completes a conciencia y lo mas detallado posible</p>
</div>
<form [formGroup]="addPetForm" class="modal">
  <div *ngIf="currentStep === 1">
    <div style="    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; margin: 0 1em 0 1em; align-items: center;">
      <input required formControlName="name" placeholder="Ingresá su nombre" style="width: 100%;
      border: 0.5px #FDA769 solid;
      color: #787878;
      background: white;
      border-radius: 8px;
      height: 100%;
      padding-inline: 0.8em;
      display: flex;
      padding: 1em;
      align-items: center; margin-bottom: 1.5em;">
      <div style="width: 100%;
      margin-top: 2em;
      margin-bottom: 2em;
      display: flex;
      justify-content: space-evenly;">
        <div class="toggle" style="display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;">
          <div style="margin-bottom: 4em;">Tipo</div>
          <input required type="checkbox" formControlName="type">
          <span class="slider"></span>
          <span class="labels" data-on="Perro" data-off="Gato"></span>
        </div>
        <div class="toggle" style="display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;">
          <div style="margin-bottom: 4em;">Género</div>
          <input required type="checkbox" formControlName="gender">
          <span class="slider"></span>
          <span class="labels" data-on="Macho" data-off="Hembra"></span>
        </div>
        <div class="toggle" style="display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;">
          <div style="margin-bottom: 4em;">¿Está castrado?</div>
          <input required type="checkbox" formControlName="isCastrated">
          <span class="slider"></span>
          <span class="labels" data-on="Si" data-off="No"></span>
        </div>
      </div>
      
      <input required formControlName="size" placeholder="Ingresá su tamaño" style="    width: 40%;
      border: 0.5px #FDA769 solid;
      color: #787878;
      background: white;
      border-radius: 8px;
      height: 100%;
      padding-inline: 0.8em;
      display: flex;
      padding: 1em;
      align-items: center;">
      <input required formControlName="location" placeholder="Ingresá dónde se encuentra" style="    width: 40%;
      border: 0.5px #FDA769 solid;
      color: #787878;
      background: white;
      border-radius: 8px;
      height: 100%;
      padding-inline: 0.8em;
      display: flex;
      padding: 1em;
      align-items: center;">
      
      <div class="image-thumbnails">
        <div *ngFor="let image of addPetForm.get('images')?.value; let i = index" class="image-thumbnail">
          <img [src]="getImageUrl(image)" alt="Miniatura de imagen">
          <p>{{ image.name }}</p>
          <button (click)="removeImage(i)">Eliminar</button>
        </div>
      </div>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" multiple>
    </div>
    <button (click)="nextStep()">Siguiente</button>
  </div>
  <div *ngIf="currentStep === 2">
    <input required formControlName="vaccines" placeholder="¿Tiene las vacunas al dia?">
    <input required formControlName="deparasited" placeholder="¿Está desparasitado?">
    <input required formControlName="medicalInfo" placeholder="Agregá toda la informacion médica que sepas (enfermedades actuales o pasadas, diagnósticos, tratamientos, dietas, medicación, etc.)">
    <div>
      <label>¿Se lleva bien con otras mascotas?</label>
      <mat-radio-group [formControlName]="'goodWithPets'">
        <mat-radio-button value="yes">Sí</mat-radio-button>
        <mat-radio-button value="no">No</mat-radio-button>
        <mat-radio-button value="unknown">No sé</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <label>¿Se lleva bien con niños?</label>
      <mat-radio-group [formControlName]="'goodWithChildren'">
        <mat-radio-button value="yes">Sí</mat-radio-button>
        <mat-radio-button value="no">No</mat-radio-button>
        <mat-radio-button value="unknown">No sé</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <label>¿Sabe quedarse solo?</label>
      <label class="toggle">
        <input required type="checkbox" formControlName="beOnItsOwn">
        <span class="slider"></span>
        <span class="labels" data-on="Si" data-off="No"></span>
      </label>
    </div>
    <div>
      <label>¿Sabe hacer sus necesidades afuera?</label>
      <mat-radio-group [formControlName]="'bathroomOutside'">
        <mat-radio-button value="yes">Sí</mat-radio-button>
        <mat-radio-button value="yes">Algunas veces</mat-radio-button>
        <mat-radio-button value="no">Está aprendiendo</mat-radio-button>
        <mat-radio-button value="unknown">No</mat-radio-button>
      </mat-radio-group>
    </div>    
    <input required formControlName="generalInfo" placeholder="Agragá información que creas relevante (personalidad, preferencias, juguete o comida favorita, etc.)">
    <button (click)="submitForm()">Enviar Formulario</button>
    <button (click)="previousStep()">Volver</button> <!-- Agregar botón de volver -->
  </div>
</form>