<body class="card-adopciones-fav-body">
  <div class="swiffy-slider">
      <ul class="slider-container">
        <li>
          <img class="imagen-pet" [src]="favPet.images[currentSlideIndex]">
        </li>
      </ul>
      <button type="button" class="slider-nav" (click)="previousSlide()"></button>
      <button type="button" class="slider-nav slider-nav-next" (click)="nextSlide()"></button>
      <div class="fav-button-card">
        <mat-icon matSuffix>favorite_border</mat-icon>
      </div>
  </div>

  <div class="pet-info">
    <div class="pet-info-header">
      <p class="pet-info-name">{{favPet.pet.name}}</p>
      <p class="pet-info-location">{{favPet.pet.location}}</p>
    </div>
    <div class="circulos-container">
      <div class="circulo">
        <div class="circulo-text">{{favPet.pet.age}} años</div>
      </div>
      <div class="circulo">
        <div class="circulo-text">{{favPet.pet.size}}</div>
      </div>
      <div class="circulo">
        <div class="circulo-text">{{favPet.pet.gender}}</div>
      </div>
    </div>
  </div>
</body>