<body>
  <div *ngIf="petPostulationsDetail.length == 0">
    <div style="padding: 1em; display: flex; flex-direction: column;">
      <img src="../../../../assets/images/AdobeStock_604133572.jpeg" style="width: 12em; border-radius: 1em; height: fit-content; margin-right: 2em;">
      <p> No hay ninguna postulación! </p>
    </div>
  </div>
  <div *ngIf="petPostulationsDetail.length != 0" style="display: flex; flex-direction: row;  flex-wrap: wrap;">
    <div *ngFor="let postulation of petPostulationsDetail; let i = index" >
      <app-mis-postulaciones-card [myPostulation]="postulation" style="position: relative;"></app-mis-postulaciones-card>
    </div>
  </div>
</body>