<body>
  <div *ngIf="petPostulationsDetail.length == 0">
    <div class="img-container">
      <img src="../../../../assets/images/AdobeStock_604133572.jpeg">
      <p> No hay ninguna postulación! </p>
    </div>
  </div>
  <div class="postulacion-detail-container" *ngIf="petPostulationsDetail.length != 0">
    <div *ngFor="let postulation of petPostulationsDetail; let i = index" >
      <app-mis-postulaciones-card class="card-container" [myPostulation]="postulation"></app-mis-postulaciones-card>
    </div>
  </div>
</body>