::ng-deep .mat-mdc-tab-label-container {
  overflow: unset
}

::ng-deep .postulante mat-tab-header {
  border: #FDA769 solid 0.05em;
  border-radius: 5em;
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

::ng-deep .postulante .mat-mdc-tab-label-container {
  background-color: rgba(231,104,1, 0.25)!important;
}

::ng-deep .mat-mdc-tab-body-content {
  margin-top: 0em;
}