body {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  align-content: center;
  justify-items: center;
}

form {
  width: 80%; position: relative;
  height: 35%;
}

.img-header {
  position: relative;
  width: 60%;
  margin-top: 5.5em;
  margin-bottom: 5.5em;
}

.text-header {
  position: relative;
  color: black;
  font-size: 40px;
  font-family: serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

.subtext-header {
  position: relative;
  color: #787878;
  font-size: 18px;
  font-family: serif;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
  margin-top:1.5em
}

.input-email {
  position: relative;
  width: 100%;
  border: 0.5px #FDA769 solid;
  background: white;
  border-radius: 8px;
  height: 100%;
  padding-left: 0.8em;
}

.password-container {
  position: relative;
  display: flex;
  border-radius: 8px;
  width: 103.55%;
  margin-top: 6em;
  height: 100%;
  justify-content: flex-end;
  align-items: center;

  input {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    padding-left: 0.8em;
    border: 0.50px #FDA769 solid
  }

  span {
    position: absolute;

    mat-icon {
      color: #E76801;
      text-align: center;
    }
  }
}

.forgot-password-button {
  text-align: right;
  color: #FDA769;
  font-size: 15px;
  font-family: serif;
  font-weight: 400;
  line-height: 27px;
  word-wrap: break-word;
  margin-top: 7em;
  width: 85%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.iniciar-sesion-button {
  width: 70%;
  height: 55%;
  position: relative;
  background: #E76801;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 3.5em;
  border: none;
  color: white!important;
  font-size: 25px;
  cursor: pointer;
  z-index: 100;
  font-family: serif;
  line-height: 20px;
  word-wrap: break-word;
}

.no-cuenta-container {
  position: relative;
  text-align: center;
  margin-top: 3em;

  span {
    color: #787878;
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }

  button {
    border:none;
    background-color: white;
    color: #FDA769;
    font-size: 18px;
    font-family: serif;
    font-weight: 600;
    line-height: 27px;
    word-wrap: break-word;
    cursor: pointer;
  }
}

.spinner-container {
  position: fixed;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #E76801!important;
}

@media (min-width: 1280px) {
  body {
    position: unset;
    display: flex;
    flex-direction: column;
  }

  .img-header {
    margin-top: 0em;
    margin-bottom: 3em;
  }

  .subtext-header {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  form {
    height: 6%;
    position: unset;
  }

  .password-container {
    margin-top: 2em;
  }

  .forgot-password-button {
    margin-top: 4.5em;
  }

  .iniciar-sesion-button {
    height: 10%;
    margin-top: 1.5em;
  }

  .no-cuenta-container {
    margin-top: 2em;
  }
}

@media (min-width: 1920px) {
  
}