<body>
  <img class="img-header" src="../../../../assets/images/wiggly.png"/>
  <div class="text-header">Bienvenido devuelta!</div>
  <div class="subtext-header">
    Por favor,  ingresá tus datos para poder continuar
  </div>
  <form [formGroup]="form">
    <input class="input-email" required type="email" ngModel email formControlName="email" placeholder="Email"> 
    <div class="password-container">
      <input required matInput formControlName="password" [type]="!showPass ? 'password' : 'text'" placeholder="Contraseña">
      <span mat-icon-button (click)="showPass = !showPass;">
        <mat-icon matSuffix >{{!showPass ? 'visibility_off' : 'visibility'}}</mat-icon>
      </span>
    </div>
  </form>
  <button class="forgot-password-button" (click)="openForgotPasswordModal()">¿Olvidaste tu contraseña?</button>
  <button class="iniciar-sesion-button" [disabled]="!form.valid" [style.background-color]="form.invalid ? '#787878' : '#E76801'" mat-raised-button (click)="singIn()">
    Iniciar Sesión
  </button>
  <div *ngIf="isLoading" class="spinner-container">
    <mat-spinner ></mat-spinner>
  </div>
  <div class="no-cuenta-container">
    <span>¿No tenés una cuenta?</span>
    <button (click)="switchToRegister()"> Registrate</button>
  </div>
</body>