body {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

header {
  position: absolute;
  width:99%;
  z-index: 1;
}

.pag-header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  justify-items: end;
  width:inherit;
  gap: 5%;
}

.header-button-text {
  display: inline-block;
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.1s;
}

.header-button-text:hover {
  color: #FDA769;
}

.header-button {
  display: inline-block;
  background-color: #FDA769;
  width: 160px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0.5em;
  border: none;
  color: white;
  font-size: 20px;
  font-family: serif;
  font-weight: 600;
  line-height: 20px;
  word-wrap: break-word;    
  cursor: pointer;
  transition: 0.3s;
}

#tabCustom {
  .mat-tab-body-content {
  }

  .mat-expansion-panel-header-title {
    font-weight: 600 !important;
  }
}

mat-tab-group {
  width: 100%;
}

::ng-deep .mat-mdc-tab-body-content {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0;
}

::ng-deep .mat-mdc-tab-group {
  --mdc-tab-indicator-active-indicator-color: #FDA769;
  --mat-tab-header-active-label-text-color: #E76801;
  --mat-tab-header-active-ripple-color: #FDA769;
  --mat-tab-header-inactive-ripple-color: #E76801;
  --mat-tab-header-active-focus-label-text-color: #FDA769;
  --mat-tab-header-active-hover-label-text-color: #E76801;
  --mat-tab-header-active-focus-indicator-color: #E76801;
  --mat-tab-header-active-hover-indicator-color: #E76801;
  --mat-tab-header-inactive-label-text-color: rgba(231,104,1, 0.6);
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: #E76801;
}

.select-first-disabled {
  border: 0.50px #DDDDDD solid;
  border-radius: 1em;
  padding: 0.5em;
  background-color: white;
  color: #333;
  font-size: 14px;
  width: auto;
  justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex
}

.select-first-disabled::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  list-style: none;
}

$menu_WIDTH: 6em;

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $menu_WIDTH;
  height: 2em;
  text-align: center;
  border: #FDA769 solid 0.02em;
  color: #000;
  transition: 0.3s background-color;
  font-size: 1em; font-weight: 400; font-family: Roboto, sans-serif; margin: 0 0 16px;
  border-radius: 4em;
  margin-right: 1em;
}

.menu-title:hover { 
  background: #FDA769;
  border: #E76801 solid 0.02em;
}

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
  overflow-y: hidden!important;
  height: 90%;
  margin-bottom: 2em;
}

.menu-dropdown {
  min-width: fit-content;
  /* padding: 15px 0; */
  position: absolute;
  z-index: 100;
  margin-top: -1.15em;
  transition: 0.5s padding, 0.5s background;
  background-color: #fff8f3;
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  accent-color: #E76801;
}

::ng-deep ul {
  padding-inline-start: 0;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0,0,0,0);
  white-space: nowrap;
  width: 100%;
  transition: 
    0.5s height cubic-bezier(.73,.32,.34,1.5),
    0.5s padding cubic-bezier(.73,.32,.34,1.5),
    0.5s margin cubic-bezier(.73,.32,.34,1.5),
    0.5s 0.2s color,
    0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0,0,0,0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25,25,25,0);
  transition: 
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}

.hList > * {
  float: left;
}

.hList > * + * {
  margin-left: 0;
}

.filtros-container {
  display: grid;
  width: 100%;
  justify-content: center;
}

.mascotas-container {
  width: 15%;
  display: block;
  margin: 0 1.5em 2em 0;
  background: white;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.5));

  app-home-card {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
  }
}

.spinner-container {
  position: fixed;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #E76801!important;
}

@media (min-width: 1280px) {
  body {
    margin-top: 0;
  }

  * {
    margin-bottom: 0;
  }

  .body-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 75%;
    justify-content: flex-start;
    width: 100%;
  }
  
  .mascotas-container {
    width: 18%;
    height: 92%;
  }

  ::ng-deep .mat-mdc-tab-body.mat-mdc-tab-body-active {
    margin-bottom: 0;
  }
}