<body style="margin-top: 2%; width:100%; height: 100%; justify-content: flex-start;align-items: flex-start;">
  <header style="position: absolute; width:99%; z-index: 1;">
    <div style="    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    justify-items: end;
    width:inherit;
    gap: 5%;">
    <button style="  display: inline-block;
      font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: none;
      ">
        ¿Como adoptar?
    </button>
    <button style="  display: inline-block;
      background-color: #FDA769;
      width: 160px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
      border-radius: 0.5em;
      border: none;
      color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    cursor: pointer;
      ">
        Iniciar Sesion
      </button>
      <button style="  display: inline-block;
      background-color: #FDA769;
      width: 160px;
    height: 40px;
    padding-left: 12px;
    padding-right: 12px;
      border-radius: 0.5em;
      border: none;
      color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word;
    cursor: pointer;
      ">
        Registrarse
      </button>
    </div>
    
  </header> 
  <div class=" page-container" style="display: inline-block;position: absolute; z-index: -1;">
    <div style="position: relative;display: inline-block; margin-top: 5.5em; margin-left: 2em; width: 55%;">
      <div style="display: inline-block;">
        <img src="../../../../assets/images/wiggly.png" />
      </div>
      <div style="display: inline-block;color: black; font-size: 100px; font-family: Poppins; font-weight: 400; line-height: 100px; word-wrap: break-word; margin-top: 1em;">
        Uniendo corazones
      </div>
      <div style="display: inline-block;color: black; font-size: 50px; font-family: Poppins; font-weight: 400; line-height: 36px; word-wrap: break-word; margin-top: 0.5em;">
        Adoptá una mascota
      </div>
      <div style="display: inline-block;color: black;
      font-size: 40px;
      font-family: Poppins;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 4px;
      word-wrap: break-word;
      margin-top: 4em;">
        Ya son <span style="font-weight: 800">+1000</span> las mascotas que encontraron un hogar a través de <span style="color: #E76801; font-weight: 800">Wiggly</span>
      </div>
    </div>
    <div style="position: absolute; display: inline-block; width: 40%; margin-top: 7em;">
      <div style="display: flex; width: 724px; height: 697px; background: rgba(168.30, 146.62, 255, 0.26); border-radius: 9999px; align-items: flex-end;">
        <img style="width: 743px; height: 727px;     border-bottom-left-radius: 9999px;
        border-bottom-right-radius: 9999px;" src="../../../../assets/images/perro-lentes-corazones.png" />
      </div>
    </div>
  </div>
  <footer style="  position: fixed; background: #FDA769;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    padding-left: 3em;
    display: inline-flex;
    align-items: center;
    height: 2.5rem; ">
      <div style="position: relative; ; width: inherit;">
        <div style="width: 358px; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
          <div style="width: 177px; color: #343434; font-size: 15px; font-family: Inter; font-weight: 500; line-height: 27.21px; word-wrap: break-word">Términos y condiciones<br/></div>
          <div style="width: 151px; color: #343434; font-size: 15px; font-family: Inter; font-weight: 500; line-height: 27.21px; word-wrap: break-word">Políticas de cookies<br/></div>
        </div>
      </div>
  </footer>
</body>
