<body class="general-menu-body">
  <div>
    <p class="titulo"><strong>Cantidad de miembros en la familia:</strong> {{postulation.familyMembers}}</p>
  </div>
  <div>
    <p class="titulo"><strong>¿Tiene hijos?</strong> {{!postulation.hasChildren ? "No" : "Si, " }}{{postulation.childrenInfo}}</p>
  </div>
  <div>
    <p class="titulo"><strong>¿Tiene otras mascotas?</strong> {{!postulation.hasOtherPets ? "No" : "Si, " }}{{postulation.otherPetsInfo}}</p>
  </div>
  <div>
    <p class="titulo"><strong >Situación laboral:</strong> {{postulation.jobSituation}}</p>
  </div>
</body>