@media (min-width: 2560px) {
  .general-menu-body {
    margin-top: 2em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .titulo {
    margin-bottom: 1em;
  
    strong {
      color: #E76801;
      font-size: medium;
    }
  }
}
