<body>
  <div>
    {{postulation.adoptionType}}
  </div>
  <div>
    {{postulation.canAffordTrainee}}
  </div>
  <div>
    {{postulation.canAffordWalker}}
  </div>
  <div>
    {{postulation.castrationCompromise}}
  </div>
  <div>
    {{postulation.costAwareness}}
  </div>
  <div>
    {{postulation.followUp}}
  </div>
  <div>
    {{postulation.lastTransitsInfo}}
  </div>
  <div>
    {{postulation.maxTimeTransit}}
  </div>
  <div>
    {{postulation.sleepingPlace}}
  </div>
  <div>
    {{postulation.timeAlonePet}}
  </div>
  <div>
    {{postulation.timesWalkPet}}
  </div>
  <div>
    {{postulation.transitPreferences}}
  </div>
</body>