<body class="menu-postu-body">
  <div class="container-titulo">
    <p ><strong>Tipo de adopción:</strong> {{postulation.adoptionType | adoptionType}}</p>
  </div>

  <div *ngIf="postulation.adoptionType !== 'ADOPTION'">
    <div class="container-titulo">
      <p><strong>Información del último transito:</strong> {{postulation.lastTransitsInfo}}</p>
    </div>
    <div class="container-titulo">
      <p><strong>Tiempo máximo de transito:</strong> {{postulation.maxTimeTransit}}</p>
    </div>
    <div class="container-titulo">
      <p><strong>Preferencias:</strong> {{postulation.transitPreferences}}</p>
    </div>
  </div>


  <div class="container-titulo">
    <p><strong>Lugar donde dormiría la mascota:</strong> {{postulation.sleepingPlace}}</p>
  </div>
  <div class="container-titulo">
    <p><strong>Tiempo que la mascota se quedaría sola:</strong> {{postulation.timeAlonePet}}</p>
  </div>
  <div class="container-titulo">
    <p><strong>Cantidad de paseos diarios:</strong> {{postulation.timesWalkPet}}</p>
  </div>
  <div>
    <div class="info-opciones-container">
      <div class="ciruclo-info-opcion">
        <div class="titulo-info-opcion">Entrenador</div>
        <div [ngStyle]="{'color': postulation.canAffordTrainee ? 'green' : 'red'}">
          <mat-icon class="icon-info-opcion">{{postulation.canAffordTrainee ? 'check' : 'close'}}</mat-icon>
        </div>
      </div>
      <div class="ciruclo-info-opcion">
        <div class="titulo-info-opcion">Paseador</div>
        <div [ngStyle]="{'color': postulation.canAffordWalker ? 'green' : 'red'}">
          <mat-icon>{{postulation.canAffordWalker ? 'check' : 'close'}}</mat-icon>
        </div>
      </div>
      <div class="ciruclo-info-opcion">
        <div class="titulo-info-opcion">Castración</div>
        <div [ngStyle]="{'color': postulation.castrationCompromise ? 'green' : 'red'}">
          <mat-icon>{{postulation.castrationCompromise ? 'check' : 'close'}}</mat-icon>
        </div>
      </div>
      <div class="ciruclo-info-opcion">
        <div class="titulo-info-opcion">Segimiento</div>
        <div [ngStyle]="{'color': postulation.followUp ? 'green' : 'red'}">
          <mat-icon>{{postulation.followUp ? 'check' : 'close'}}</mat-icon>
        </div>
      </div>
    </div>
  </div>
</body>