<body style="display: flex; flex-direction: column; justify-content: space-evenly;">
  <div>
    <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Tipo de adopción:</strong> {{postulation.adoptionType | adoptionType}}</p>
  </div>

  <div *ngIf="postulation.adoptionType !== 'ADOPTION'">
    <div>
      <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Información del último transito:</strong> {{postulation.lastTransitsInfo}}</p>
    </div>
    <div>
      <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Tiempo máximo de transito:</strong> {{postulation.maxTimeTransit}}</p>
    </div>
    <div>
      <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Preferencias:</strong> {{postulation.transitPreferences}}</p>
    </div>
  </div>


  <div>
    <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Lugar donde dormiría la mascota:</strong> {{postulation.sleepingPlace}}</p>
  </div>
  <div>
    <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Tiempo aproximado que la mascota se quedaría sola:</strong> {{postulation.timeAlonePet}}</p>
  </div>
  <div>
    <p style="margin-bottom: 0.5em;"><strong style="color: #E76801; font-size: medium;">Cantidad de paseos diarios:</strong> {{postulation.timesWalkPet}}</p>
  </div>
  <div>
    <div style="display: flex;    justify-content: center;       margin-left: 3em;    flex-wrap: wrap;">
      <div class="Dropdown" style="display: flex;
      width: 25%;
      margin-bottom: 1em;
      margin-right: 1em;
      justify-content: space-between;
      padding: 0.3em;
      background: white;
      border-radius: 5em;
      border: 1px #FDA769 solid;
      align-items: center;">
        <div class="Frame2598" >
          <div class="Filtros" style="color: #555555; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Entrenador</div>
        </div>
        <div style="color: red; display: flex;">
          <mat-icon>{{postulation.canAffordTrainee ? 'check' : 'close'}}</mat-icon>
        </div>
      </div>
      <div *ngIf="postulation.canAffordWalker" class="Dropdown" style="display: flex; width: 20%; margin-bottom: 1em; margin-right: 1em; justify-content: center; padding: 0.3em 0.5em 0.3em 0.5em; background: white; border-radius: 5em; border: 1px #FDA769 solid;">
        <div class="Frame2598" >
          <div class="Filtros" style="color: #555555; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Paseador</div>
        </div>
      </div>
      <div *ngIf="postulation.castrationCompromise" class="Dropdown" style="display: flex; width: 20%; margin-bottom: 1em; margin-right: 1em; justify-content: center; padding: 0.3em 0.5em 0.3em 0.5em; background: white; border-radius: 5em; border: 1px #FDA769 solid;">
        <div class="Frame2598" >
          <div class="Filtros" style="color: #555555; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Castración</div>
        </div>
      </div>
      <div *ngIf="postulation.followUp" class="Dropdown" style="display: flex; width: 20%; margin-bottom: 1em; margin-right: 1em; justify-content: center; padding: 0.3em 0.5em 0.3em 0.5em; background: white; border-radius: 5em; border: 1px #FDA769 solid;">
        <div class="Frame2598" >
          <div class="Filtros" style="color: #555555; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 24px; word-wrap: break-word">Segimiento</div>
        </div>
      </div>
    </div>
  </div>
</body>