<body class="home-card-body">
  <div class="swiffy-slider">
      <ul class="slider-container">
        <li class="li-imagen-pet">
          <img class="imagen-pet" [src]="pet.images[currentSlideIndex]">
        </li>
      </ul>
      <button type="button" class="slider-nav slider-button" (click)="previousSlide()"></button>
      <button type="button" class="slider-nav slider-nav-next slider-button" (click)="nextSlide()"></button>
      <div class="fav-button-card" (click)="toggleFav()">
        <mat-icon *ngIf="!this.pet.pet.isFavPet" matSuffix>favorite_border</mat-icon>
        <mat-icon *ngIf="this.pet.pet.isFavPet" matSuffix>favorite</mat-icon>
      </div>
  </div>

  <div class="pet-info">
    <div class="pet-info-header">
      <p class="pet-info-name">{{pet.pet.name}}</p>
      <p class="pet-info-location">{{pet.pet.location}}</p>
    </div>
    <div class="pet-info-container">
      <div class="circulo-container">
        <div class="circulo-info">{{pet.pet.age}} {{pet.pet.age===1 ? "año" : "años"}}</div>
      </div>
      <div class="circulo-container">
        <div class="circulo-info" >{{pet.pet.size}}</div>
      </div>
      <div class="circulo-container">
        <div class="circulo-info">{{pet.pet.gender}}</div>
      </div>
    </div>

  </div>
  <div class="button-container">
    <div class="Cta">
      <div class="modal-button">
        <div class="button" (click)="this.openFullMascotaModal()">Conocé más <p>sobre {{pet.pet.name}}</p></div>
      </div>
    </div>
  </div>
</body>
