<body class="card-adopcion-body">
  <div class="swiffy-slider slider-card-postulacion">
    <ul class="slider-container slider-container-card-postulacion">
      <li class="slider-li">
        <img class="imagen-pet" [src]="postulatedPet.petImages[currentSlideIndex]">
      </li>
    </ul>
    <button type="button" class="slider-nav slider-button" (click)="previousSlide()"></button>
    <button type="button" class="slider-nav slider-nav-next" (click)="nextSlide()"></button>
    <div class="fav-button-card">
      <i class="fa fa-heart"></i>
    </div>
  </div>

  <div class="pet-info">
    <p class="pet-info-name">{{postulatedPet.pet.name}}</p>
    <div class="estados-postulacion-container">
      <p class="estado-postulacion-titulo"><strong>Estado de la postulación</strong></p>
      <div class="estados-info">
        <div class="estados-info-container" [ngStyle]="{'color': postulatedPet.status === 'SENT' ? '#FDA769' : '#64748B'}">
          <p class="p-s-ir"
          [ngStyle]="{'font-weight': postulatedPet.status === 'SENT' ? '700' : 'inherit', 'color': postulatedPet.status === 'SENT' ? '#FDA769' : 'inherit'}">Enviada</p>
          <mat-icon class="p-icono">{{postulatedPet.status === 'SENT' ? 'check_circle' : 'check_circle_outline'}}</mat-icon>
        </div> 
        <div class="estados-info-container" [ngStyle]="{'color': postulatedPet.status === 'IN_REVISION' ? '#FDA769' : '#64748B'}">
          <p class="p-s-ir"
          [ngStyle]="{'font-weight': postulatedPet.status === 'IN_REVISION' ? '700' : 'inherit'}">En revisión</p>
          <mat-icon class="p-icono">{{postulatedPet.status === 'IN_REVISION' ? 'check_circle' : 'check_circle_outline'}}</mat-icon>
        </div>
        <div class="estados-info-container estado-aceptado" *ngIf="postulatedPet.status === 'SENT' || postulatedPet.status === 'IN_REVISION'">
          <p class="p-s-ir">Aceptada/Rechazada</p>
          <mat-icon class="p-icono">check_circle_outline</mat-icon>
        </div>
        <div *ngIf="postulatedPet.status === 'ACCEPTED'">
          <p class="p-accep-decl">Aceptada</p>
          <mat-icon class="p-icono">check_circle</mat-icon>
        </div>
        <div *ngIf="postulatedPet.status === 'DECLAINED'">
          <p class="p-accep-decl">Rechazada</p>
          <mat-icon class="p-icono">highlight_off</mat-icon>
        </div>
      </div>
    </div>
  </div>
</body>