<body>
  <div class="mascotas-container" *ngIf="!showPostulationDetail">
    <div class="button-container" *ngIf="this.misMascotas && this.misMascotas.length != 0">
      <button class="agrega-mascota" (click)="addMiMascota()">Agregá una mascota</button>
    </div>
    <div class="card-mascotas-container" *ngFor="let miMascota of misMascotas; let i = index">
      <app-mis-mascotas-card [myPet]="miMascota" (postulationPetClicked)="handlePetPostulationClick($event)"></app-mis-mascotas-card>
    </div>
  </div>
  <div class="postulaciones-detail-container" *ngIf="this.showPostulationDetail">
    <button (click)="this.showPostulationDetail = false">Atrás</button>
    <app-mis-postulaciones [postulationsDetails]="postulationsDetails"></app-mis-postulaciones>
  </div>

  <div class="no-mascotas-container" *ngIf="!misMascotas || misMascotas.length == 0">
    <p>Aun no tienes ninguna mascota para dar en adopción!</p>
    <img src="../../../../assets/images/AdobeStock_610288835.png">
    <button class="agrega-mascota" (click)="addMiMascota()">Agregá una mascota</button>
  </div>
</body>