.agrega-mascota {
  margin-top: 2%;
  background: #FDA769;
  color: white;
  border: none;
  font-family: Manrope;
  font-size: 24px;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  transition: .3s background-color
}

.agrega-mascota:hover {
  background: #E76801;
}

body {
  margin-top: 2%;
  width: 100%;
  height: 100%;
}

.mascotas-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; 
  flex-direction: row;
  justify-content: flex-start;
}

.button-container {
  z-index: 100;
  top: 0;
  right: 0;
  margin-right: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.card-mascotas-container {
  display: block;
  width: 15%;
  margin: 0 1.5em 3em 0;
  background: white;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.5));

  app-mis-mascotas-card {
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
  }
}

.postulaciones-detail-container {
  display: block;
  width: 100%;
}

.no-mascotas-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 24px;
    font-family: Manrope;
    font-weight: bold;
  }

  img {
    width: 25%;
  }
}

.cambiar-step-button {
  display: flex;
    align-items: center;
    justify-content: flex-end;
}

.step-button {
  margin: 0 1em 1em 0;
  background: none;
  color: #FDA769;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  text-align: center;
  display: flex;
  align-items: center;
}

.step-button:hover {
  color: #E76801;
  font-size: 18px;
}

.flecha-step {
  display: flex;
  font-size: 18px;
  margin-left: 0.3em;
  align-items: center
}

.spinner-container {
  position: fixed;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #E76801!important;
}

@media (min-width: 1280px) {
  .card-mascotas-container {
    width: 18%;
  }

  .mascotas-container {
    height: 100%;
  }

  .step-button {
    margin: 0;
    margin-bottom: 0.75em;
  }

  .body-container {
    margin-bottom: 7em;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 64%;
    justify-content: flex-start;
    width: 100%;
  }
}
