<body>
  <div class="first-container">
      <div class="img-container">
        <img src="../../../../assets/images/wiggly.png" />
      </div>
    <div class="navigation-header">
      <mat-tab-group  (selectedIndexChange)="changeIndex($event)"  >
        <mat-tab label="Inicio">
          <app-home-page></app-home-page>
        </mat-tab>
        <mat-tab label="Adopciones">
          <app-adopciones class="adopciones-container"></app-adopciones>
        </mat-tab>
        <mat-tab label="Mis mascotas">
          <app-mis-mascotas></app-mis-mascotas> 
        </mat-tab>
      </mat-tab-group>
      <div class="user-info-container">
        <mat-icon matSuffix >pets</mat-icon>
        <div>
          {{this.userName}}
        </div>
      </div>
    </div>
  </div>  
</body>