<body>
  <div style="position: absolute;
  display: contents;">
      <div style="    position: relative;
      display: flex;
      justify-content: center;
      height: 10%;">
        <img src="../../../../assets/images/wiggly.png" />
      </div>
    <div style="position: relative; height: 100%;">
      <mat-tab-group  (selectedIndexChange)="changeIndex($event)" style="display: inline-block;"  >
        <mat-tab label="Inicio">
          <app-home-page></app-home-page>
        </mat-tab>
        <mat-tab label="Adopciones">
          <app-adopciones></app-adopciones>
        </mat-tab>
        <mat-tab label="Mis mascotas">
          <app-mis-mascotas></app-mis-mascotas> 
        </mat-tab>
      </mat-tab-group>
      <div style="position: absolute;
      top: 2vh;
      left: 90vw;
      z-index: 5;
      display: flex;
      align-items: center;">
        <mat-icon matSuffix >pets</mat-icon>
        <div>
          {{this.userName}}
        </div>
      </div>
    </div>
    
  </div>  
</body>