<body>
  <div>
    <div class="card-header">
      <div>
        <img img class="imagen-pet" src="../../../../assets/images/kurama.jpg">
      </div>
      <div class="header-info-container">
        <div class="info-name">{{myPostulation.name}} {{myPostulation.lastName}}
        </div>
        <div class="info-container">
          <label>Email</label> {{myPostulation.email}}
        </div>
        <div class="edad-ubicacion-container">
          <div class="info-container">
            <label>Edad</label> {{myPostulation.age}}
          </div>
          <div class="info-container">
            <label>Ubicación</label> {{myPostulation.location}}
          </div>
        </div>
        <div class="info-container">
          <label>Teléfono</label> {{myPostulation.phone}}
        </div>
      </div>
    </div>
    <mat-tab-group class="mis-postulaciones-header"  (selectedIndexChange)="changeIndex($event)">
      <mat-tab label="General">
        <app-general-menu-postulation [postulation]="myPostulation" class="option-menu-container general"></app-general-menu-postulation>
      </mat-tab>
      <mat-tab label="Adopción">
        <app-adoption-menu-postulation [postulation]="myPostulation" class="option-menu-container"></app-adoption-menu-postulation>
      </mat-tab>
      <mat-tab label="Vivienda">
        <app-vivienda-menu-postulation [postulation]="myPostulation" class="option-menu-container"></app-vivienda-menu-postulation> 
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="aceptacion-buttons-container">
    <button class="aceptar-button">
      Aceptar
    </button>
    <button class="cancelar-button">
      Cancelar
    </button>
  </div>
</body>