body {
  display: block;
  margin: 0 3em 3em 0;
  background: white;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.5));
  padding-bottom: 3em;
  height: 75%;
  width: 40%;
}

::ng-deep .mis-postulaciones-header .mat-mdc-tab-label-container {
  overflow: unset
}

::ng-deep .mis-postulaciones-header mat-tab-header {
  border-bottom: #FDA769 solid 0.05em;
  border-top: #FDA769 solid 0.05em;
  padding-left: 0em;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-right: 0%;
}

::ng-deep .mis-postulaciones-header .mat-mdc-tab-label-container {
  background-color: rgba(231,104,1, 0.25)!important;
}

::ng-deep .mis-postulaciones-header .mat-mdc-tab-body-content {
  margin: 0em;
}

::ng-deep .mat-mdc-tab-group .mis-postulaciones-header .mat-primary .mat-mdc-tab-group-stretch-tabs {
  height: 100%;
}

.mis-postulaciones-header {
  height: 100%;
  display: inline-block;
  overflow: unset;
  width: 100%;
  margin-top: 2%;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #FDA769;
  --mat-tab-header-active-label-text-color: #E76801;
  --mat-tab-header-active-ripple-color: #FDA769;
  --mat-tab-header-inactive-ripple-color: #E76801;
  --mat-tab-header-active-focus-label-text-color: #FDA769;
  --mat-tab-header-active-hover-label-text-color: #E76801;
  --mat-tab-header-active-focus-indicator-color: #E76801;
  --mat-tab-header-active-hover-indicator-color: #E76801;
  --mat-tab-header-inactive-label-text-color: rgba(231,104,1, 0.6);
  --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6);
  --mat-tab-header-inactive-hover-label-text-color: #E76801;
}

.card-header {
  padding: 1em;
  display: flex;
}

.imagen-pet {
  width: 12em;
  border-radius: 1em;
  height: fit-content;
  margin-right: 2em;
}

.header-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-name {
  font-size: x-large;
  font-weight: bolder;
  color: #E76801;
  padding-bottom: 0.5em;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25em;

  label {
    font-size: x-small;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    margin-bottom: -0.75em;
  }
}

.postulante {
  display: inline-block;
  overflow: unset;
  width: 100%;
}

.option-menu-container {
  width: 100%;
  display: block;
  height: 20em;
  overflow: auto;
}

.general {
  margin: 0;
  width: 100%;
}

.aceptacion-buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  margin-top: 1em;

  button {
    border: transparent;
  }
}

.aceptar-button {
  display: inline-block;
  background-color: #FDA769;
  width: 7em;
  height: 2em;
  border-radius: 0.5em;
  border: #FDA769 1px solid;
  color: white;
  font-size: 15px;
  font-family: serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;    
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1.5px;
}

.aceptar-button:hover {
  background-color: #E76801;
}

.cancelar-button {
  display: inline-block;
  background-color: white;
  width: 7em;
  height: 2em;
  border-radius: 0.5em;
  border: #FDA769;
  color: #FDA769;
  font-size: 15px;
  font-family: serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word;    
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1.5px;
}

.cancelar-button:hover {
  background-color: #FDA769;
  color: white;
}

.icon-button {
  text-align: center; font-size: xx-large;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  body {
    padding: 0;
    height: 27em;
  }

  .general {
    height: 100%;
  }

  .card-header {
    padding: 0.5em;
  }

  .info-name {
    font-size: large;
  }

  .info-container {
    font-size: small;
  }

  .edad-ubicacion-container {
    display: flex;
    justify-content: space-between;
  }

  .imagen-pet {
    width: 8em;
    margin-right: 1em;
    height: 100%;
  }

  ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    width: 10%;
    font-size: 12px;
    padding: 0;
  }

  ::ng-deep .mis-postulaciones-header mat-tab-header {
    margin-top: 0;
    margin-bottom: 1em;
  }

  .general-menu-body {
    justify-content: flex-start
  }

  ::ng-deep .mat-mdc-tab-labels {
    height: 2.5em;
    display: flex;
    align-items: center;
  }

  .aceptacion-buttons-container {
    margin-top: 0;
  }

  .option-menu-container {
    height: 8em;
  }
}
