body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-items: center;
  flex-direction: column;
}

form {
  display: contents;
}

.form-content-container {
  display: flex;     
  flex-direction: column;
  align-items: center; width: 100%;
}

.name-inputs {
  position: relative;
  display: flex;
  margin-top: 2em;
  height: 35%;
  width: 85%;
  justify-content: space-between;
}

input[type="date"] { 
  background: white;
  color: orange;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: orange;
}

.register-input {
  position: relative;
  width: 80%;
  border: 0.5px #FDA769 solid;
  color: #787878;
  background: white;
  border-radius: 8px;
  margin-top: 2em;
  padding-inline: 0.8em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.mr-05 {
  margin-right: 0.5em;
}

.ml-05 {
  margin-left: 0.5em;
}

.custom-checkbox {
  background-color: white;
  border: 1px solid #FDA769;
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 0.5em;
  cursor: pointer;
  accent-color: #E76801;
}

.custom-checkbox:active, .custom-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.custom-checkbox:checked {
  accent-color: #E76801 !important;
}

/*.custom-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #E76801;
}*/

.registrarse-button {
  width: 70%;
  position: relative;
  background: #E76801;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-top: 2em;
  border: none;
  color: white;
  font-size: 25px;
  font-family: serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 20px;
  word-wrap: break-word;
  cursor: pointer;
}

.imagen {
  position: relative;
  width: 60%;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.crea-cuenta {
  position: relative;
  color: black;
  font-size: 40px;
  font-family: serif;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

.password-container {
  position: relative;
  display: flex;
  border-radius: 8px;
  width: 103.55%;
  height: 33.5%;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    top: 1.78em;
    right: 2.5em;

    mat-icon {
      color: #E76801;
      text-align: center;
    }
  }
}

.form-info-container {
  position: relative;
  display: flex;
  height: 35%;
  width: 85%;
  justify-content: space-between;
}

.checkboxes-container {
  display: flex;
  align-items: flex-end;
  margin-top: 2em;
  width: 85%;
  justify-content: space-between;
}

.opcion-container {
  margin-bottom: 0.3em;
}

.opcion-label {
  display: flex;
  align-items: flex-end;
}

.switch-opcion {
  position: relative;
  text-align: center;
  margin-top: 2.5em;

  span {
    color: #787878;
    font-size: 18px;
    font-family: serif;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word;
  }

  button {
    cursor: pointer;
    border:none;
    background-color: white;
    color: #FDA769;
    font-size: 18px;
    font-family: serif;
    font-weight: 600;
    line-height: 27px;
    word-wrap: break-word;
  }
}

.spinner-container {
  position: fixed;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #E76801!important;
}

@media (min-width: 1280px) {
  body {
    position: unset;
    width: 100%;
    height: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  .imagen {
    margin-bottom: 2em;
    margin-top: 1.25em;
  }

  .crea-cuenta {
    font-size: 35px;
  }

  .name-inputs {
    height: 18%;
    margin-top: 1em;
  }

  .register-input {
    margin-top: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .password-container {
    button {
      top: 0.55em;
      right: 1em;
    } 
    
    mat-icon {
      font-size: 20px;
    }
  }

  .form-content-container {
    height: 60%;
  }

  .tipo-transito-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .checkboxes-container{
    margin-top: 1em;

    p {
      display: none;
    }
  } 

  .registrarse-button {
    width: 65%;
    margin-top: 1em;
    font-size: 23px;
  }

  .switch-opcion {
    margin-top: 0.5em;
    margin-bottom: 0.75em;

    span {
      font-size: 15px;
    }

    button {
      font-size: 16px;
    }
  }
}