<body>
  <div *ngIf="!showFavoritosDetail" class="adopciones-fav-detail">
    <div *ngFor="let favorito of favoritos; let i = index" class="card-adopcion-fav-container">
      <app-card-adopciones-favoritos [favPet]="favorito" class="card-adopciones-component"></app-card-adopciones-favoritos>
    </div>
  </div>
  <div *ngIf="!favoritos || favoritos.length == 0" class="adopciones-fav-none">
    <p>Aun no marcaste como favorito ninguna mascota!</p>
    <img src="../../../../assets/images/AdobeStock_610288835.png">
  </div>
</body>