<body>
  <div class="swiffy-slider">
    <ul class="slider-container">
      <li class="li-imagen-pet">
        <img class="imagen-pet" [src]="petImages[currentSlideIndex]">
      </li>
    </ul>
    <button type="button" class="slider-nav slider-button" (click)="previousSlide()"></button>
    <button type="button" class="slider-nav slider-nav-next slider-button" (click)="nextSlide()"></button>
    <div class="fav-button-card">
      <i class="fa fa-heart"></i>
    </div>
  </div>
  <div class="pet-info-container">
    <div class="pet-info">
      <div class="pet-info-header">
        <p class="pet-info-header-title">{{petData.name}}, {{petData.age}} años</p>
        <p class="pet-info-header-subtitle">{{petData.location}}</p> 
      </div>
      <div class="caracteristicas-container">
        <div class="info-container">
          <p class="caracteristicas-titulo"><strong>Características Principales</strong></p>
          <p>
            {{petData.name}} es {{petTypeGender}}. {{petBathroom}} y {{this.petData.isCastrated ? "está" : "no está"}} {{this.petData.gender === "Macho" ? "castrado" : "castrada"}}. 
            {{this.petData.beOnItsOwn ? "Sabe quedarse por su cuenta. " : "Todavía no sabe quedarse por su cuenta. "}}
            {{this.petGoodWithChildrenAndPets}}
          </p>
        </div>
        <div class="info-container">
          <p class="caracteristicas-titulo"><strong>Información General</strong></p>
          <p>{{this.petData.generalInfo}}</p>
        </div>
        <div class="info-container">
          <p class="caracteristicas-titulo"><strong>Información medica</strong></p>
          <p>{{this.petData.medicalInfo}}</p>
        </div>
        <div>
          <p><strong class="naranja-oscuro">Desparasitación: </strong>{{this.petData.deparasited}}</p>
          <p><strong class="naranja-oscuro">Vacunas: </strong>{{this.petData.vaccines}}</p>
        </div>
      </div>
    </div>
    <div class="postularse-container">
      <button (click)="postularse()">Postularse</button>
    </div>
  </div>
</body>

