@media (min-width: 2560px) {
  body {
    margin-top: 0em!important;
  }

  .parrafo-info {
    margin-bottom: 0.5em;

    strong {
      color: #E76801;
      font-size: medium;
    }
  }

  .li-imagen-pet {
    transition: opacity .5s;
  }

  .imagen-pet {
    width: 40em;
    height: 25em;
  }

  .slider-button {
    visibility: visible;
  }
}