body {
  margin-top: 0em!important;
}

.menu-postu-body {
  padding-left: 1.5em;
}

.parrafo-info {
  margin-bottom: 0.5em;

  strong {
    color: #E76801;
    font-size: medium;
  }
}

.li-imagen-pet {
  transition: opacity .5s;
}

.imagen-pet {
  width: 40em;
  height: 25em;
}

.slider-button {
  visibility: visible;
}

@media (min-width: 1280px) {
  .parrafo-info strong {
    font-size: 14px;
  }

  .imagen-pet {
    width: 6em;
    height: 6em;
  }
}