<body>
  <div>
    <p class="parrafo-info"><strong>Tipo de vivienda:</strong> {{postulation.house.type | houseType}}</p>
  </div>
  <div class="swiffy-slider" style="overflow-x: hidden;">
    <ul class="slider-container">
      <li class="li-imagen-pet">
        <img class="imagen-pet" [src]="postulation.house.houseImages[currentSlideIndex]">
      </li>
    </ul>
    <button type="button" class="slider-nav slider-button" (click)="previousSlide()" ></button>
    <button type="button" class="slider-nav slider-nav-next slider-button" (click)="nextSlide()"></button>
    <div class="fav-button-card">
      <i class="fa fa-heart"></i>
    </div>
  </div>
  <div>
    <p class="parrafo-info"><strong>¿Es propietario?</strong> {{postulation.house.owner ? "Si" : "No"}}</p>
  </div>
  <div>
    <p class="parrafo-info"><strong>Permite mascotas:</strong> {{postulation.house.allowsPets ? "Si" : "No"}}</p>
  </div>
  <div>
    <p class="parrafo-info"><strong>¿Tiene red de contención?</strong> {{postulation.house.hasContentionNet ? "Si" : "No"}}</p>
  </div>
  <div>
    <p class="parrafo-info"><strong>¿Tiene espacios abiertos?</strong> {{postulation.house.openSpaces ? "Si" : "No"}}</p>
  </div>
</body>