<body>
  <header>
    <div class= "pag-header">
      <button class="header-button-text">¿Como adoptar?</button>
      <button class="header-button" (click)="openSignInModal()">Iniciar Sesion</button>
      <button class="header-button" (click)="openRegistrationModal()">Registrarse</button>
    </div>
  </header> 
  <div class="page-container">
    <div class="page-container-left">
      <div class="wiggly-logo">
        <img src="../../../../assets/images/wiggly.png" />
      </div>
      <div class="text-container">
        <div>
          <div class="wiggly-slogan">
            Uniendo corazones
          </div>
          <div class="wiggly-subslogan">
            Adoptá una mascota
          </div>
        </div>
        <div class="wiggly-text">
          Ya son <span>+1000</span> las mascotas que encontraron un hogar a través de <span class="naranja-oscuro">Wiggly</span>
        </div>
      </div>
    </div>
    <div class="page-container-right">
      <div class="back-image-circle">
        <img class="back-image" src="../../../../assets/images/perro-lentes-corazones.png" />
      </div>
    </div>
  </div>
  <footer>
      <div class="footer-container">
        <div class="footer-text-container">
          <div class="footer-text">Términos y condiciones<br/></div>
          <div class="footer-text">Políticas de cookies<br/></div>
        </div>
      </div>
  </footer>
</body>
